.product-detail-section {
  min-height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  overflow: hidden;
}

.w100 {
  width: 100%;
}

.product-des2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.svg-animal-section {
  max-height: 100px;
  padding: 0 1em;
  overflow: hidden;
  flex-wrap: nowrap;
}

.flexGap {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0;
}

.color-change-btn {
  background-color: var(--dbrown);
}
.shop-also {
  border-top: 0.1px solid #ccc;
}
.shop-also p {
  padding: 1em;
}

.lbrown {
  background-color: #c8baab !important;
}

.lbrown-nav {
  border-bottom: var(--border-line);
}

.product-detail {
  width: 90%;
  margin: 1em auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: auto;
}

.product-detail-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-detail-img {
  background-image: url("../../img/bgproduct.webp");

  background-repeat: no-repeat;
  border-radius: 12px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.055);
  padding: 4em;

  justify-content: center;

  height: 100%;
}

.product-detail-img img {
  max-width: 300px;
  height: auto;
  border-radius: 12px;
  box-shadow: var(--box-shadow-light);
  object-fit: cover;
}

.product-detail-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  width: 100%;
}

.product-detail-info h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.product-detail-info li {
  padding: 0.5em 0;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.product-detail-info p {
  margin-bottom: 10px;
}

.product-detail-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-price span {
  color: #707070;
  text-decoration: line-through;
}

.product-price {
  font-size: 4vh;
  font-weight: 500;
}
.small-pp {
  font-size: 1.5rem;
}
.product-btn {
  min-height: 40px;
  background-color: black;
  color: whitesmoke;
  border: none;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 2em;
  padding: 0 26px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product-btn:hover {
  background-color: #555;
  transform: scale(1.05);
}

.product-btn.in-bag {
  background-color: #c8baab;
  color: black;
}

.product-btn.favorited {
  background-color: #d27b7b;
  color: black;
}

.product-btn.in-bag:hover {
  background-color: #b9a895;
}

.product-btn.favorited:hover {
  background-color: #c06d6d;
}

.green-top {
  text-align: center;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #054f31;
  background-color: #d9ffe0;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  inset: auto 0% 0%;
}
.subscribe-text{
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -0.4px;
}

@media only screen and (max-width: 850px) {
  .product-btn {
    font-size: 12px;
    padding: 0 20px;
  }
  .product-detail {
    grid-template-columns: 1fr;
    padding: 2em;
    margin: 3em 0;
  }

  .product-detail-info {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
