nav {
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  align-items: center;
  padding: .7vw 2vw;
  color: #2a2a2a;
  z-index: 99;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.inner-div {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 14px;
}

.div-one ul {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-3 ul {
  justify-content: flex-end;
}

.nav-link-click {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: color 0.4s ease;
  cursor: pointer;
}

.nav-link-click p {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 14px;
  text-transform: uppercase;
  transition: transform 0.4s ease;
}

.nav-link-click:hover p {
  transform: translateY(-100%);
}

.nav-link-click p::after {
  content:attr(data-hover);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}

.nav-link-click:hover p::after {
  transform: translateY(0);
}

.logo-con {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  transition: transform 0.6s ease;
}

.logo {
  height: 100%;
}

.logo-con:hover {
  transform: rotate(15deg);
}

.nav-dot{
  color: #c8baab;
  margin-right: 3px;
}

@media only screen and (max-width: 650px) {
  .show-big {
    display: none;
  }

  .bagIcon {
    width: 35px;
    height: 35px;
  }
}
